button {
  background-color: transparent;
  border: 0;
  font-weight: 500;
  min-width: 50px;
}

.primary {
  background: var(--theme);
  color: var(--ligh-bg);
  padding: 10px 13px;
  border-radius: 4px;
  transition: 0.2s ease-out;
  &:hover {
    background: rgb(57, 14, 158);
  }
}
