.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.header__wrapper,
menu ul,
.btn__wrapper,
.rating,
.stars,
.hero,
.text,
.text__wrapper,
footer,
.bigCard {
  display: flex;
}

header {
  padding: 1.5rem 0;
}
.header__wrapper {
  align-items: center;
  justify-content: space-between;
  span {
    font-size: 18px;
    font-weight: 600;
  }
  menu {
    display: none;
  }
  menu {
    ul li + li {
      margin-left: 1rem;
    }
  }
  .btn__wrapper {
    .btn + .btn {
      margin-left: 1rem;
    }
  }
  menu,
  .btn {
    font-size: 14px;
  }
}

.hero {
  padding-bottom: 4rem;
  //   flex-direction: row;
  .hero__left {
    padding-top: 6rem;
    flex: 1;
    .rating {
      margin-bottom: 13px;
      align-items: center;
      img {
        width: 14px;
        height: 14px;
      }
      img + img {
        margin-left: 3px;
      }
      span {
        margin-left: 10px;
        font-size: 12px;
      }
    }
    h1 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 13px;
      max-width: 350px;
    }
    p {
      color: rgba(0, 0, 0, 0.699);
    }
    .btn__wrapper {
      align-items: center;
      margin: 1rem 0;
      a {
        text-decoration: underline;
        color: #4d13d1;
        font-weight: 500;
      }
    }
    .text {
      .text__wrapper {
        font-size: 12.2px;
        color: rgba(0, 0, 0, 0.699);
        margin-bottom: 10px;
        img {
          width: 15px;
          margin-right: 4px;
        }
      }
    }
  }
  .hero__right {
    flex: 1;
  }
}

.whyFiber {
  padding: 2rem 0;
  background: #ffff;
  .whyfiberTag {
    font-weight: 600;
    color: #4d13d1;
    font-size: 13px;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
    margin: 7px 0 2.5rem 0;
    max-width: 350px;
  }
  .cards {
    width: 100%;
    display: grid;
    grid-gap: 1.5rem;
    .card {
      margin-bottom: 1.4rem;
      img {
        margin-bottom: 8px;
      }
      span {
        font-size: 17px;
        font-weight: 600;
      }
      p {
        margin-top: 10px;
        font-weight: 14px;
        color: rgba(0, 0, 0, 0.699);
      }
    }
  }
  .bigCard {
    margin-top: 2rem;
    align-items: center;
    background: #4d13d1;
    padding: 2rem 2rem 0 2rem;
    border-radius: 8px;
    .bigCard__left {
      flex: 1;
      h2 {
        color: #fff;
        font-weight: 600;
        font-size: 2rem;
      }
      p {
        color: rgba(255, 255, 255, 0.568);
        margin: 1rem 0;
        font-size: 14px;
        font-weight: 300;
      }
      .btn {
        background: #fff;
        font-weight: 600;
        color: #4d13d1;
      }
    }
    .bigCard__right {
      flex: 1.5;
      img {
        min-height: 300px;
      }
    }
  }
  .review {
    padding: 2rem 0;
    margin-top: 4rem;
    display: grid;
    grid-gap: 2rem;
    overflow: auto;
    white-space: nowrap;
    .review__card {
      padding: 1.5rem;
      border: 1px solid rgba(0, 0, 0, 0.329);
      .top {
        display: flex;
        align-items: center;
        .group {
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          font-size: 15px;
          .name {
            color: #4d13d1;
            font-weight: 600;
            margin-bottom: -2px;
          }
        }
      }
      p {
        white-space: normal;
        min-height: 120px;
        font-size: 15px;
        font-weight: 300;
        margin: 1.2rem 0 0 0;
      }
      .btn__secondary {
        border: 1px solid rgba(0, 0, 0, 0.329);
        padding: 10px;
        width: 100%;
        font-weight: 600;
        color: #4d13d1;
        font-size: 17px;
      }
    }
  }
}

footer {
  padding: 2rem 0;
  h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  a,
  p,
  span {
    font-size: 13px;
    font-weight: 300;
  }
  .fiber {
    max-width: 250px;

    p {
      margin-bottom: 1rem;
    }
  }
}
