.container {
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

// ------------------------------------- common style
.header__wrapper,
menu ul,
.btn__wrapper,
.rating,
.stars,
.hero,
.text,
.text__wrapper,
footer,
.bigCard {
  display: flex;
}

// ------------------------------------- Header
header {
  padding: 1.5rem 0;

  .header__wrapper {
    align-items: center;
    justify-content: space-between;
    span {
      font-size: 18px;
      font-weight: 600;
    }
    menu {
      ul li + li {
        margin-left: 1rem;
      }
    }
    .btn__wrapper {
      .btn + .btn {
        margin-left: 1rem;
      }
    }
    menu,
    .btn {
      font-size: 14px;
    }
  }
}
// ------------------------------------- HERO
.hero {
  padding-bottom: 4rem;
  .hero__left {
    padding-top: 6rem;
    flex: 1;
    .rating {
      margin-bottom: 13px;
      align-items: center;
      img {
        width: 14px;
        height: 14px;
      }
      img + img {
        margin-left: 3px;
      }
      span {
        margin-left: 10px;
        font-size: 12px;
      }
    }
    h1 {
      font-size: 2rem;
      font-weight: 700;
      line-height: 43px;
      margin-bottom: 13px;
      max-width: 350px;
    }
    p {
      color: var(--light-dark-text);
    }
    .btn__wrapper {
      align-items: center;
      margin: 1rem 0;
      a {
        text-decoration: underline;
        color: var(--theme);
        font-weight: 500;
      }
    }
    .text {
      .text__wrapper {
        font-size: 12.2px;
        color: var(--light-dark-text);
        margin-bottom: 10px;
        img {
          width: 15px;
          margin-right: 4px;
        }
      }
    }
  }
  .hero__right {
    flex: 1;
  }
}

// ------------------------------------- Why Fiber Section
.whyFiber {
  padding: 2rem 0;
  background: var(--ligh-bg);
  .whyfiberTag {
    font-weight: 600;
    color: var(--theme);
    font-size: 13px;
  }
  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
    margin: 7px 0 2.5rem 0;
    max-width: 360px;
  }
  .cards {
    width: 100%;
    display: grid;
    grid-gap: 1.5rem;
    .card {
      margin-bottom: 1.4rem;
      img {
        margin-bottom: 8px;
      }
      span {
        font-size: 17px;
        font-weight: 600;
      }
      p {
        margin-top: 10px;
        font-weight: 400;
        color: var(--light-dark-text);
      }
    }
  }
  .bigCard {
    margin-top: 2rem;
    align-items: center;
    background: var(--theme);
    padding: 2rem 2rem 0 2rem;
    border-radius: 8px;
    .bigCard__left {
      flex: 1;
      h2 {
        color: var(--ligh-bg);
        font-weight: 600;
        font-size: 2rem;
        line-height: 43px;
      }
      p {
        color: rgba(255, 255, 255, 0.568);
        margin: 1rem 0;
        font-size: 14px;
        font-weight: 300;
      }
      .btn {
        background: var(--ligh-bg);
        font-weight: 600;
        color: var(--theme);
      }
    }
    .bigCard__right {
      flex: 1.5;
      img {
        min-height: 300px;
      }
    }
  }
  .review {
    padding: 2rem 0;
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    overflow: auto;
    white-space: nowrap;
    .review__card {
      border-radius: 3px;
      padding: 1.5rem;
      border: 1px solid var(--dark-border);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .top {
        display: flex;
        align-items: center;
        .group {
          margin-left: 15px;
          display: flex;
          flex-direction: column;
          font-size: 15px;
          .name {
            color: var(--theme);
            font-weight: 600;
            margin-bottom: -2px;
          }
        }
      }
      p {
        white-space: normal;
        font-size: 15px;
        font-weight: 300;
        margin: 1.2rem 0;
      }
      .btn__secondary {
        border: 1px solid var(--dark-border);
        padding: 10px;
        width: 100%;
        font-weight: 600;
        color: var(--theme);
        font-size: 17px;
      }
    }
  }
}

// ------------------------------------- FOOTER
footer {
  padding: 2rem 0;
  h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  a,
  p,
  span {
    font-size: 13px;
    font-weight: 400;
  }
  .fiber {
    max-width: 250px;

    p {
      margin-bottom: 1rem;
      color: var(--light-dark-text);
    }
  }
  a {
    color: var(--light-dark-text);
    transition: 0.2s ease-out;
    &:hover {
      color: #000;
    }
  }
}
